// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #00425A;


$dark-coul: $brand-primary;
$light-coul: #009EE0;
$grey-background: #1A1A1A;
$text-primary: #1A1A1A;
$text-secondary: #1A1A1A;
$light-grey:#9C9E9F;
$grey-row:#E8E8E8;
// Bleu foncé #00425A
// Bleu clair #009EE0
//
// Fond gris #E8E8E8
//
// Text #1A1A1A
// Text fond gris #1A171B
// Text Blanc #fff
