//
// Background Colors
//

.white-bg         { background-color: $white; }
.grey-bg          { background-color: $grey; }
.dark-grey-bg     { background-color: $darkgrey; }

.notice-bg        { background-color: $notice; }
.success-bg       { background-color: $success; }
.alert-bg         { background-color: $alert; }
