//
// Color
//

.white            { color: $white; }
.grey             { color: $grey; }
.dark-grey        { color: $darkgrey; }

.notice           { color: $notice; }
.success          { color: $success; }
.alert            { color: $alert; }
